body {
    font-family: 'Poppins',Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

}
p {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.25rem;
    background-color: #fff;
    border-bottom: 	0.0625rem solid #eaeaea;
}

.logo img {
    height: 2.50rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.header-icons a {
    margin-left: 1.25rem;
    color: #333;
    text-decoration: none;

}

.img-banner {
    position: relative;
    text-align: center;
    padding: 6.25rem 0;
    background: url('./assets/wallpaper.jpg') no-repeat center center/cover;
    color: #fff;
    image-rendering: smooth;


}

.text-banner{
    color: black;
    text-align: center;
    justify-content: center;
}

.banner h1 {
    margin: 0;
    font-size: 	3rem;
    font-weight: bold;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1.25rem;
    background-color: #f9f9f9;
    border-bottom: 0.0625rem solid #eaeaea;
}

.filters button {
    background-color: #f9f9f9;
    color:black;
    border: none;
    padding: 0.63rem  1.25rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    font-size: 1rem;
    font-family: 'Poppins',Arial, sans-serif;
}

.filters p {
    margin: 0;
    font-size: 1rem;
}

.filters select {
    padding: 0.04em;
    border:	0.0625rem none #f9f9f9;
    border-radius: 0.3125rem;
    font-size: 1rem;
    font-family: 'Poppins',Arial, sans-serif;
    background-color: #f9f9f9;
}


/*disposição dos produtos*/

.products-div{
    display: flex;
    gap:1.25rem;
    align-items: center;
    padding: 2rem 1rem;
    justify-content: center;
    margin-left: 0.65rem;
}

.products-section{
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 0.65rem;
}




.products {
    display: flex;  
    gap:  1.25rem;
    width:  12.50rem;
    border: 0.0625rem solid #ddd;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1.25rem;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, opacity 0.3s;

}
.img-product{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin:0 0 0 0;
}

.product-image img {
    width: 100%;
    display: block;
    height: auto;

}
.product {
    background-color: #fff;
    padding:  0 0 0 0;
    border: 1px solid #eaeaea;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.125rem;
    margin: 0.63rem 0;
}

.product p {
    margin: 0.3125rem 0;
}

.price {
    font-size: 1rem;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: #888;
}


/*hover*/
.overlay {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    top: 0;
    left: 0;
    z-index: 1;


}

.overlay a{
    color:#ffc107;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.product:hover .overlay {
    opacity:1;
    width: 100%;
    height: 100%;
}

.product-image:hover .overlay{
    opacity: 0;
}
.overlay{
    opacity: 100%;
}



.details-button{
    background-color: white;    
    border: none;
    padding: 0.63rem 1.25rem 0.63rem 1.25rem;
    margin-top: 128px; 
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
    color:#ffc107;
    text-decoration: none;;
}
.action-button {

    color: white;
    margin:	0.3125rem;
    cursor: pointer;
}
.buttons{
    display: flex;
 
}
ul{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    gap:35px;
}
#action-buttons ul{
    display: flex;
    flex-direction: row;
    list-style:none;
    display: flex;
    justify-content: center;
    vertical-align: middle;

}
.action-button li{
    margin:0;
    display: flex;
    color: white;
    text-align: center;
    padding: 8px;
    list-style-position: inside; 
    text-decoration: none;
    align-items: center; 
    gap: 30px; 
    
}

.action-button a{
    color: red;
    padding: 0;
    margin: 0;
    font-size: 10px;
    gap:10px


}

.share{
    list-style-image: url(./assets/shareHover.png);
    margin:0;
    padding: 0;
    font-size: 10px;



}
.share a{
    margin:0;
    padding: 0;
    font-size: 12px;
    color:white;

}
.compare{
    list-style-image: url(./assets/GroupHover.png);
    margin:0;
    padding: 0;
    font-size: 12px;
}
.compare a{
    margin:0;
    padding: 0;
    font-size: 12px;
    color:white;

}
.like{
    list-style-image: url(./assets/LikedHover.png);
    margin:0;
    padding: 0;
    font-size: 12px;
}
.like a{
    margin:0;
    padding: 0;
    font-size: 12px;
    color:white;
}
.card:hover {
    color:#B88E2F;
    border: 1px solid white;
}




.overlay a:hover {
    background-color: #3A3A3A;
}

.product:hover .overlay{
    display: block;
} 
@media (max-width: 600px) {
    #action-buttons ul {
        flex-direction: column; 
        align-items: center;
        gap: 15px; 
    }

    #action-buttons li {
        gap: 4px; 
    }
}


.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pagination button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.features {
    width: 100%;
    height: 7.13rem;
    top: 115.00rem;
    left: 0.63rem;
    display: flex;
    justify-content: space-between;
    padding: 6.25rem 1.25rem 6.25rem 1.25rem;
    background-color:#FAF3EA;


}
.feature {
    gap: 0.40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 14.69rem;

}

.feature img {
    vertical-align: middle;
    width: 3.75rem;
    height: 3.75rem;
}
.texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-feature-text {
    font-size: 1.5625rem;
    font-weight: 600px;
    margin: 0; 
}

.subtitle-feature-text {
    font-size: 1.25rem;
    font-weight:500px;
    color: #898989;
}
footer {
    padding: 1.25rem;
    background-color:#fff;
    color: #333;
}

footer address {
    text-align: center;
    margin-bottom: 1.25rem;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.footer-links .links,
.footer-links .help,
.footer-links .newsletter {
    text-align: center;
}

.footer-links a {
    display: block;
    color:#333;
    text-decoration: none;
    margin: 0.31rem 0;
    padding-top: 0.5em;
}

.newsletter input {
    padding: 0.63rem;
    margin: 0.63rem 0;
}

.newsletter button {
    padding: 0.63rem 1.25rem;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
}

footer p {
    text-align: center;
    margin-top: 1.25rem;
}
